*{
    font-family: "DM Sans", sans-serif;
}
td,th{
    padding: 5px;
}
p{
    font-size: 18px;
}
th{
    text-align: left;
}

form{
    padding-top: 10px;
  
    box-sizing: content-box;
}
fieldset{

    width: 500px;
}
fieldset h2{
    border-bottom: solid 2px;
}
img{
    width: 150px;
    border-radius: 100px;
    position: absolute;
    left: 90%;
    top: 3.4%;
}
p{
    width: 700px;
}
h1{
    background-color: lightblue;
    height: 100px;
    padding-top: 60px;
    padding-left: 10px;
}
h1{
    font-size: 40px;
}
